@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5270FF; 
  color: #fff; 
}

button {
  cursor: pointer;
  border: none; 
}

.container {
  width: 90%;
  height: 80%;
  border-radius: 15px; 
  background: rgb(118, 141, 255); 
}

.header {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3B59B8; 
  border-radius: 15px 15px 0 0; 
  padding: 0 20px;
  width: 100%;
}

.header span {
  font-weight: 900;
  font-size: 22px;
  word-break: break-all;
  color: #fff; 
}

.header-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

#new {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #5270FF; 
  font-weight: bold;
}

.btn-home {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: #5270FF; 
  display: inline-block;
  transition: background-color 0.3s;
  font-weight: bold; 
}

.btn-home:hover {
  background-color: #3B59B8; 
}

.divTable {
  padding: 10px;
  width: auto; 
  height: calc(100% - 70px);
  overflow: auto;
}

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(255, 255, 255, 0.3); 
}

.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #3B59B8; 
}

table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}

thead {
  background-color: #3B59B8; 
}

tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important; 
}

tbody tr td {
  vertical-align: text-top;
  padding: 8px;
  max-width: 50px;
  color: #fff; 
  font-weight: bold;
}

thead tr th {
  padding: 10px;
  text-align: start;
  margin-bottom: 50px;
  color: #fff; 
  font-weight: bold;
}

tbody tr {
  margin-bottom: 50px;
}

thead tr th.acao {
  width: 100px!important;
  text-align: center;
}

tbody tr td.acao {
  text-align: center;
}


tbody tr:hover {
  background-color: rgba(59, 89, 184, 0.3);
}


.tipo-usuario {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
}

@media (max-width: 700px) {
  body {
    font-size: 10px;
  }
  
  .header span {
    font-size: 15px;
  }

  #new {
    padding: 5px;
    font-size: 10px;
  }
  
  .btn-home {
    padding: 5px;
    font-size: 10px;
  }

  .header-buttons {
    gap: 5px;
  }

  thead tr th.acao {
    width: auto!important;
  }
  
  td button i {
    font-size: 20px!important;
  }

  td button i:first-child {
    margin-right: 0;
  }

  .modal {
    width: 90%!important;
  }

  .modal label {
    font-size: 12px!important;
  }
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: rgb(118, 141, 255);
  border-radius: 15px; 
  width: 50%;
  color: #fff; 
}

.modal label {
  font-size: 14px;
  width: 100%;
  font-weight: bold; 
}

.modal input, .modal select {
  width: 100%;
  outline: none;
  padding: 10px; 
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px; 
  font-weight: bold; 
}

.modal button {
  width: 100%;
  margin: 10px auto;
  outline: none;
  border-radius: 5px; 
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #5270FF; 
  color: white;
  font-weight: bold;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .4s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

td button {
  border: none;
  outline: none;
  background: transparent;
}

td button i {
  font-size: 25px;
  color: #fff; 
}

td button i:first-child {
  margin-right: 10px;
}