/* --------- Global --------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  background-color: #3B59B8;
  font-size: 10px;
  justify-content: center;
}

body {

  color: #fff;
  background-color: #5270FF;
  line-height: 1.6;
}


a {
  color: #000000;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

.formulario {
  display: block;
  background-color: rgb(118, 141, 255);
  border-radius: 15px;
  width: 100%;
  margin-top: 50px;
  font-size: 1.2rem;
  font-weight: bold;
}

.campo {
  padding: 5%;

}

.formulario input[type="text"] {
  border-radius: 4px;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
}

.formulario input[type="password"] {
  border-radius: 4px;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
}

button[type="submit"] {
  margin-top: 10px;
  font-weight: bold;
  border-radius: 5px;
  padding: 2.5%;
  background-color: #5270FF;
  color: white;
  display: flex;
  margin-left: 80%;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 2px;
}

/* --------- Footer --------- */

.rodape {
  background-color: #3B59B8;
  text-align: center;
  padding: 5px;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


main {
  padding: 20px;
  margin-bottom: 80px;
}

/* --------- Geral --------- */



/* --------- Login - Motorista --------- */




#btn-cadastro-aluno,
#btn-cadastro-motorista,
#btn-login-motorista
 {
  display: block;            
  margin: 0 auto;            
  background-color: #5270FF;
  color: #fff;               
  padding: 3% 6%;       
  font-size: 16px;          
  border: none;             
  border-radius: 5px;        
  cursor: pointer;           
  justify-content: center;
}



/* --------- Cadastro - Motorista --------- */

.formulario input[type="email"] {
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: none;
}



/* --------- Esqueci Senha - Motorista --------- */

#btn-esqueci-senha-motorista {
  padding: 4%;

}



/* --------- Tela Transporte Disponíveis --------- */

.header-transporte {
  position: relative;
  background-color: #3B59B8;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.titulo-transdisp {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  margin: 0;
}

.btn-menu {
  background: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.login-buttons {
  display: flex;
  gap: 2%;
  justify-content: center;
  margin-bottom: 4%;
}

.login-button a {
  font-weight: bold;
  font-size: 1rem;
  border: none;
  background-color: #3B59B8;
  color: white;
  padding: 3px;
  cursor: pointer;
  border-radius: 4px;
}


.form-busca input[type="text"] {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 70%;
  margin-left: 15%;
  border-radius: 8px;
  border: none;
}

#bairro{
  margin-bottom: 3%; 
  margin-top: 10px; 
}

.form-busca button[type="submit"] {
  background-color: #3B59B8; 
  display: flex;
  margin-left: 35%;
  padding: 3%;
  font-size: 1.2rem;
  padding-left: 10%;
  padding-right: 10%;
}

.transporte-disponivel{
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.transporte-item {
  margin-top: 5%;
  display: flex;
  background-color: rgb(118, 141, 255);
  border-radius: 5px;
  padding: 5%;
  list-style: none;
  flex-direction: column;
}



.btn-transporte{
  display: inline-flex;
  padding: 3%;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 3%;
}

.btn-chat{
 
  display: inline-flex;
  padding: 3%;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 3%;
}

.lista-transporte{
  display: flex;
  justify-content: space-between;
}

/* --------- Tela Info Transporte  --------- */

.informacoes{

  background-color: rgb(118, 141, 255);
  padding-bottom: 2%;
  border-radius: 7px;
}

.lotacao{
  display: flex;
  justify-content: center;
  background-color: #3B59B8; 
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 100%;
  

}
.informacao-item{
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.informacao-item [type="text"]{
  border-radius: 4px;
  padding: 10px;
  width: 80%;
  background-color: lightgray;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}


@media only screen and (max-width: 600px) {

  .titulo-transdisp {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    margin: 0;
  }
  
  .btn-menu {
    background: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    
  }

  .login-buttons {
    display: flex;
    gap: 2%;
    justify-content: center;
    margin-bottom: 4%;
  
  }
  
  .login-button a {
    font-weight: bold;
    font-size: 1rem;
    border: none;
    background-color: #3B59B8;
    color: white;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
  }

  .form-busca button[type="submit"] {
    background-color: #3B59B8; 
    display: flex;
    margin-left: 37%;
    padding: 3%;
    font-size: 1.2rem;
    padding-left: 10%;
    padding-right: 10%;
  }

  button[type="submit"] {
    margin-top: 10px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5%;
    background-color: #5270FF;
    color: white;
    display: block;
    max-width: 100%;
    margin: 10px auto;
    font-size: 1rem;
  }

  .formulario input[type="text"],
  .formulario input[type="password"],
  .formulario input[type="email"]  {
    border-radius: 4px;
    border: none;
    padding: 1.5%;
    width: 100%;
    border-radius: 8px;
    font-size: 1.2rem; 
  }

  #btn-cadastro-aluno,
  #btn-cadastro-motorista {
    font-size: 1.5rem;
    display: flex;
    width: 100%;
  }

  .links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 2px;
    font-size: 1.2rem;
  }

}

@media only screen and (min-width: 600px) {
  h1{
    font-size:2rem;
   }
    

  .titulo-transdisp {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.3rem;
    margin: 0;
  }
  
  .btn-menu {
    background: none;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    
  }

  .login-buttons {
    display: flex;
    gap: 2%;
    justify-content: center;
    margin-bottom: 4%;
  
  }
  
  .login-button a {
    font-weight: bold;
    font-size: 1rem;
    border: none;
    background-color: #3B59B8;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
  }

  .input-busca{
    font-size: 1.4rem;
  }

  .form-busca button[type="submit"] {
    background-color: #3B59B8; 
    display: flex;
    margin-left: 39%;
    padding: 3%;
    font-size: 1.6rem;
    padding-left: 10%;
    padding-right: 10%;
  }

  button[type="submit"] {
    margin-top: 10px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5%;
    background-color: #5270FF;
    color: white;
    display: block;
    max-width: 100%;
    margin: 10px auto;
    font-size: 1.2rem;
  }

  .transporte-disponivel{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
  }

  .formulario {
    display: block;
    background-color: rgb(118, 141, 255);
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .formulario input[type="text"],
  .formulario input[type="password"],
  .formulario input[type="email"]  {
    border-radius: 4px;
    border: none;
    padding: 1.5%;
    width: 100%;
    border-radius: 8px;
    font-size: 1.5rem; 
  }


  .formulario .input::placeholder {
    font-size: 1.5rem; 
    color: #aaa;     
  }


  #btn-cadastro-aluno,
  #btn-cadastro-motorista {
    font-size: 1.5rem;
    display: flex;
    width: 100%;
  }

  .links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 2px;
    font-size: 1.5rem;
  }

  .lotacao{
    display: flex;
    justify-content: center;
    background-color: #3B59B8; 
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 100%;
    font-size: 1.3rem;
    
  
  }

  .informacao-item [type="text"]{
    border-radius: 4px;
    padding: 10px;
    width: 80%;
    background-color: lightgray;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 1.3rem;
  }
  
}

@media only screen and (min-width: 992px){
 h1{
  font-size:2.6rem;
 }
  
  
  .titulo-transdisp {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.6rem;
    margin: 0;
  }
  
  .btn-menu {
    background: none;
    color: white;
    font-weight: bold;
    font-size: 2.6rem;
    
  }

  .login-buttons {
    display: flex;
    gap: 2%;
    justify-content: center;
    margin-bottom: 4%;
  
  }
  
  .login-button a {
    font-weight: bold;
    font-size: 1.3rem;
    border: none;
    background-color: #3B59B8;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
  }


  .form-busca button[type="submit"] {
    background-color: #3B59B8; 
    display: flex;
    margin-left: 43%;
    padding: 3%;
    font-size: 2rem;
    padding-left: 6%;
    padding-right: 6%;
  }



  button[type="submit"] {
    margin-top: 10px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5%;
    background-color: #5270FF;
    color: white;
    display: block;
    max-width: 100%;
    margin: 10px auto;
    font-size: 1.2rem;
  }

  .transporte-disponivel{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
  }

  .btn-transporte,
  .btn-chat{
    display: inline-flex;
    padding: 3%;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.3rem;
    margin-top: 3%;
  }
  
  

  .formulario {
    display: block;
    background-color: rgb(118, 141, 255);
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .formulario input[type="text"],
  .formulario input[type="password"],
  .formulario input[type="email"]  {
    border-radius: 4px;
    border: none;
    padding: 1.5%;
    width: 100%;
    border-radius: 8px;
    font-size: 1.5rem; 
  }


  .formulario .input::placeholder {
    font-size: 1.5rem; 
    color: #aaa;     
  }


  #btn-cadastro-aluno,
  #btn-cadastro-motorista {
    font-size: 1.5rem;
    display: flex;
    width: 100%;
  }

  #btn-cadastro-aluno,
#btn-cadastro-motorista,
#btn-login-motorista
 {
  display: block;            
  margin: 0 auto;            
  background-color: #5270FF;
  color: #fff;               
  padding: 3% 6%;       
  font-size: 1.8rem;          
  border: none;             
  border-radius: 5px;        
  cursor: pointer;           
  justify-content: center;
}

  .links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 2px;
    font-size: 1.8rem;
  }
  .lotacao{
    display: flex;
    justify-content: center;
    background-color: #3B59B8; 
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 100%;
    font-size: 1.5rem;
    
  }

  .informacao-item [type="text"]{
    border-radius: 4px;
    padding: 10px;
    width: 80%;
    background-color: lightgray;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
  }
}